@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
}

.calc-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title{
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;

    margin-bottom: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.calc input{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;

    max-width: 400px;
    height: 50px;

    padding: 0px 0px 0px 20px;

    border: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}
.calc input:focus{
    outline: none;
}

#calcular{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;

    color: #fff;
    background-color: #000;

    width: 100%;
    height: 50px;

    margin: 20px 0px 20px 0px;
    border-radius: 20px;

    cursor: pointer;
}

#resultado{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
}
        

